/*:root {*/
/*  --primary: #D085B4 !important;*/
/*  --secondary: #9D4E7F !important;*/
/*  --link-fg: #A95287 !important;*/
/*  --link-hover-color: #6E0031 !important;*/
/*  --link-selected-fg: #BA6383 !important;*/
/*  --button-hover-bg: #C16EA2 !important;*/
/*  --default-button-hover-bg: #702A55 !important;*/
/*}*/
