save-prefix=
dedupe-direct-deps=true
# https://pnpm.io/npmrc#engine-strict
engine-strict=true

# https://pnpm.io/npmrc#manage-package-manager-versions
package-manager-strict-version=true
# https://pnpm.io/npmrc#manage-package-manager-versions
manage-package-manager-versions=true
